*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    position: relative;
}
html {
    /* font-size: 62.5%; */
    font-family: "Roboto", "Raleway", "Poppins" sans-serif;
    font-weight: 300;
    font-style: normal;
    /* 62.5% of 16px = 10px */
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scrollbar-color: #0d629a #c3e7ff;
    scrollbar-width: thin;
}
html::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
    height: 0px;
}

html::-webkit-scrollbar-track {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    height: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
li a {
    text-decoration: none;
    color: #fff;
}

.MuiButtonBase-root:disabled {
    cursor: not-allowed;
    pointer-events: auto;
}

.MuiDrawer-root.MuiDrawer-modal.MuiModal-root {
    z-index: 1301;
}

/* About Section CSS */

.about-content ul {
    padding: 0;
    margin: 0;
    list-style: none !important;
}
.about-content ul li {
    background: url("../js/Site/Assets/check-circle.svg") top left no-repeat;
    font-family: "Raleway", "Roboto", "Poppins", sans-serif;
    font-size: 1.25rem !important;
    color: #0d629a;
    font-weight: 300;
    height: 35px;
    padding-top: 0px;
    padding-left: 44px;
}
.about-content p {
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px !important;
}
.Process-section {
    background-image: url(./images/bgarrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.Testimonial-section .MuiPaper-root {
    background-color: transparent;
    box-shadow: none;
}
.Brochure-section-data{padding:0 !important;}
.Footer-section{ }
.Footer-section h4{
    position: relative;
    color:#ffffff !important;
  }

  .Footer-section h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 15%;
    border-bottom: 0.3rem solid #fff;
  }
  .Footer-section .Service-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
    padding-bottom:10px;                         
  }
  .Footer-section .footer-img{
    width: 100%;
    max-width: 150px;
  }

@media (max-width: 767px) {
    .box-hidden {
        display: none !important;
    }
    .Banner-section {
        background-image: none !important;
        height: 45vh !important;
        background-color: #c3e7ff;
    }
    .Banner-section .Banner-section-content {
        margin-inline: 20px;
    }
    .Banner-section h2 {
        font-size: 36px;
        width: 100%;
    }
    .Banner-section p {
        margin-top: 16px;
    }
    .Services-section {
        margin-left: 20px !important;
        margin-right: 20px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .Services-section .MuiGrid-root>.MuiGrid-item{padding-top: 20px;} 
    .about-section{padding:20px !important;}
    .about-section .MuiGrid-root.MuiGrid-container{ margin-left: 0 !important;
        margin-right: 0 !important;}
        .Blog-section .MuiGrid-root.MuiGrid-container{ margin-left: 0 !important;}
        .about-section .MuiGrid-root.MuiGrid-container .MuiGrid-item,.Blog-section .MuiGrid-root.MuiGrid-container .MuiGrid-item {padding-left:0 !important}
        .Brochure-section .MuiGrid-root.MuiGrid-container .MuiGrid-item{padding-left:20px !important}
    .schedule-section {
        flex-direction: column;
    }
    .schedule-section-call-details {
        flex-direction: column;
        gap: 20px;
    }
    .schedule-section-call-details .MuiTypography-root.MuiTypography-h1 {
        border-left: none;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .schedule-section-call-details svg {
        font-size: 60px;
    }
    .Process-section {
        background-image: none;
    }
    .Process-section .Process-section-item {
        margin-bottom: 0;
    }
}
