:root {
    /* Define color variables */
    --primary-color: #0d629a;
    --secondary-color: #c3e7ff;
    --third-color: #3078c0;
    --text-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.4);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    position: relative;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", "Raleway", "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    height: 100%;
    line-height: normal;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scrollbar-color: var(--primary-color) var(--secondary-color);
    scrollbar-width: 4px !important;
    
}


::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
    height: 0px;
}

::-webkit-scrollbar-track {
    display: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--shadow-color);
    border-radius: 4px;
    height: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: disc;
    margin-left: 2rem;
}
p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.Topbar-section {
    min-height: 55px !important;
}
.d-none {
    display: none !important;
}
.MuiCardActions-root {
    padding: 8px 0 !important;
}
.MuiDivider-root {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.product-details p,
.product-details li {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}
h2 > .ql-size-huge {
    font-size: 4rem !important;
    font-weight: 500 !important;
}
h2 > .ql-size-huge:nth-child(3) {
    font-weight: 700 !important;
}
.Footer-section p {
    margin-bottom: 0;
    margin-top: 0;
    color: #ffffff;
}
.product-name {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.87) !important;
}

li a {
    text-decoration: none;
    color: var(--text-color);
}

.font-bold {
    font-weight: 600;
}

.MuiButtonBase-root:disabled {
    cursor: not-allowed;
    pointer-events: auto;
}
.Service-section-siderbar
    .MuiButtonBase-root.MuiListItem-root.MuiListItem-button.Mui-selected:hover,
.Service-section-siderbar
    .MuiButtonBase-root.MuiListItem-root.MuiListItem-button.Mui-selected:active,
.Service-section-siderbar
    .MuiButtonBase-root.MuiListItem-root.MuiListItem-button.Mui-selected:focus,
.Service-section-siderbar
    .MuiButtonBase-root.MuiListItem-root.MuiListItem-button.Mui-selected:target,
.Service-section-siderbar
    .MuiButtonBase-root.MuiListItem-root.MuiListItem-button.Mui-selected {
    background-color: var(--secondary-color) !important;
}
.serach-drawer-container .MuiDrawer-paper.MuiDrawer-paperAnchorTop {
    max-height: 50%;
    height: 100%;
}

.service-section-content table,
.Service-section table {
    width: 100%;
    border-radius: 4px;
    overflow-x: auto;
    border: 1px solid #666;
    border-collapse: collapse;
}
.service-section-content table tr,
.Service-section table tr {
    border-bottom: 1px solid #666 !important;
}
.service-section-content table th,
.Service-section table th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-right: 1px solid #666 !important;
}

.service-section-content table td,
.Service-section table td {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
}
.service-section-content a {
    color: var(--third-color) !important;
    text-decoration: none;
}

/* .Banner-section{
    background-image: url("../js/Site/Assets/new1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
.MuiDataGrid-columnHeaderTitleContainerContent {
    overflow: auto;
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-button.css-dr3m99-MuiButtonBase-root-MuiListItem-root:hover,
.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-button.css-dr3m99-MuiButtonBase-root-MuiListItem-root:hover {
    background-color: var(--secondary-color);
}

.banner-content-text {
    color: var(--primary-color);
    font-family: "Raleway", "Roboto", "Poppins", sans-serif;
    line-height: 1.25;
    width: 60%;
}

.banner-content-text h1 span.ql-size-huge {
    font-size: 4rem;
    font-weight: 500;
}
.banner-content-text h1 strong.ql-size-huge {
    font-size: 4rem;
    font-weight: 900;
}
.banner-content-text p {
    font-size: 1.4rem;
    font-weight: 500;
}
.top-social-icons svg,
.top-social-icons {
    font-size: 2rem;
}
.MuiIconButton-root svg {
    font-size: 2.2rem;
}
.AccountDownloadIcon {
    font-size: 120px !important;
    color: var(--primary-color);
}

.MuiDrawer-root.MuiDrawer-modal.MuiModal-root {
    z-index: 1301;
}
.MuiPopover-root.MuiMenu-root.MuiModal-root {
    z-index: 1305 !important;
}
.page-heading {
    position: relative;
}
.page-heading::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 47%;
    width: 60px;
    border-bottom: 4px solid var(--primary-color);
}
.services-page .page-heading::after,
.blog-page .page-heading::after {
    left: 22%;
}
.cursor-pointer {
    cursor: pointer;
}
.mandatory-product {
    cursor: pointer;
}
.MuiDataGrid-root .MuiDataGrid-columnHeader {
    background-color: var(--secondary-color);
}

/* Home Page All Section CSS */

.about-content ul {
    padding: 0;
    margin: 0;
    list-style: none !important;
}

.about-content ul li {
    background: url("../js/Site/Assets/check-circle.svg") top left no-repeat;
    font-family: "Raleway", "Roboto", "Poppins", sans-serif;
    color: var(--primary-color);
    font-weight: 500;
    height: 35px;
    padding-top: 2px;
    padding-left: 44px;
    font-size: 1.6rem !important;
}

.about-content p {
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px !important;
}

.Process-section {
    background-image: url(./images/bgarrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.Process-section .process-steps {
    /* position: absolute;
    top: 0; */
    /* left:-2px; */
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
}
/* .cardmedia {
    background-size: contain !important;
    object-fit: contain !important;
    width: 100%;
} */

.Process-section .MuiBadge-badge {
    font-weight: 600 !important;
    font-size: 20px !important;
    min-width: 50px !important;
    line-height: 3 !important;
    padding: 0 16px !important;
    height: 50px !important;
    border-radius: 50% !important;
    top: 23px !important;
    right: 60px !important;
}

.testimonial {
    position: relative;
    padding: 20px;
    margin: 20px;
    max-width: 100%; /* Adjust width as needed */
}

.rating {
    font-size: 40px; /* Adjust size of stars */
    color: #f1c40f; /* Color of stars */
    margin-bottom: 10px;
    text-align: left;
    margin-left: 4rem;
}

.quote {
    font-size: 78px; /* Adjust size of quote */
    color: var(--primary-color);
    position: relative;
}
.testimonial .slick-prev:hover,
.testimonial .slick-prev:focus,
.testimonial .slick-next:hover,
.testimonial .slick-next:focus {
    color: var(--primary-color);
    outline: inherit;
    background: inherit;
}
.slick-prev {
    left: 43px !important;
}
.slick-next {
    right: 0 !important;
    left: 127px !important;
}
.slick-prev,
.slick-next {
    bottom: -43px;
    top: unset !important;
}
.testimonial .MuiSvgIcon-root.MuiSvgIcon-colorSecondary {
    width: 3em;
    height: 1.5em;
}
.quote::before {
    content: "\201C"; /* Unicode for opening double quote */
    font-size: 4em; /* Size of the quote mark */
    position: absolute;
    top: -178px; /* Adjust vertically */
    right: -20px; /* Adjust horizontally */
    color: var(--primary-color); /* Color of the quote mark */
}

.Testimonial-section .MuiPaper-root {
    background-color: transparent;
    box-shadow: none;
}

.Brochure-section-data {
    padding: 0 !important;
}
.page-main-heading {
    font-size: 2.7rem !important;
    font-weight: 600 !important;
}

.Footer-section h4 {
    position: relative;
    color: var(--text-color) !important;
}

.Footer-section h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 15%;
    border-bottom: 0.3rem solid var(--text-color);
}

.Footer-section .Service-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}
.Footer-section .Service-list {
    margin: 0 !important;
}

.Footer-section .footer-img {
    /* width: 100%; */
    max-width: 150px;
    height: 6rem;
    margin-right: 1.5rem;
    border-radius: 5px;
}

.Footer-section .footer-certificates {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

/* Service List Css */
.Service-section-siderbar {
    border-radius: 25px;
    margin-right: 40px;
}

.Service-section-siderbar {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.founder-section {
    background-image: url("../js/Site/Assets/founder_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.testimonial-quote svg {
    position: absolute;
    top: -67px;
    right: 0;
    font-size: 100px;
    color: var(--primary-color);
}

.Service-section p img {
    width: 100%;
    max-width: fit-content;
    height:auto;
}

/******** Product List ***********/
.Product-card {
    background-color: unset !important;
    -webkit-transition: unset !important;
    transition: unset !important;
    border-radius: 4px;
    box-shadow: unset !important;
    align-items: center;
    gap: 20px;
}

.MuiTabs-indicator {
    display: none;
}
.Product-card img {
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
}

.ProductDetail-tab .MuiButtonBase-root {
    border: 1px solid var(--third-color);
    margin-right: 5px;
    border-bottom: 0;
    text-transform: capitalize;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ProductDetail-tab .MuiTabPanel-root {
    border: 1px solid var(--third-color);
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ProductDetail-tab .MuiButtonBase-root.Mui-selected {
    background-color: var(--secondary-color);
}

.notification .MuiTypography-root.MuiLink-root {
    color: var(--primary-color);
    font-weight: 500;
}
.MuiAccordionDetails-root.notification-list ul li {
    list-style-type: square !important;
}
.Accordian-summary .Accordian-data {
    width: 70%;
    font-weight: 500;
}

.Accordian-summary .Accordian-data1 {
    width: 30%;
    text-align: right;
    margin-right: 15px;
    font-weight: 500;
}
.Footer-section .MuiPaper-root.MuiAccordion-root {
    background-color: var(--third-color);
}

.Footer-section .MuiGrid-root > .MuiGrid-item {
    padding-top: 20px;
}
.about-section {
    position: relative;
}
.navbar-icon {
    height: 50px;
    margin-right: 1.5rem;
}
.box-about {
    position: absolute;
    top: 50%; /* adjust the vertical position */
    left: 40%; /* adjust the horizontal position */
    transform: translate(-50%, -50%);
    background-color: #0d629a; /* white background */
    padding: 10px;
    width: 85px;
    height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-about p {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    color: #ffffff;
    font-size: xx-large;
    font-weight: 500;
    text-transform: uppercase;
}
.privacy-policy ul,
.privacy-policy ol {
    list-style: decimal;
    margin-left: 2rem;
}
.privacy-policy ul > li,
.privacy-policy ol > li {
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.ql-indent-1 {
    list-style: disc;
    margin-left: 3rem;
}
.table-row,
.table-pagination,
th {
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
    font-size: 1.8rem !important;
}
.contact-icon {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
    font-size: 4rem !important;
    margin-right: 10px;
}
.MuiTypography-root.MuiTypography-subtitle1 {
    padding: 4px;
}
.product-download .MuiSvgIcon-root {
    color: var(--primary-color);
}

.text-white {
    color: #ffffff;
}

/* Calendar.css */
.react-calendar {
    width: 100% !important;
    max-width: 100%;
    background: white;
    border-color: var(--primary-color) !important;
    border-radius: 25px;
    font-family: "Roboto", "Raleway", "Poppins", sans-serif !important;
    line-height: 1.125em;
    font-size: 2.3rem !important;
    text-decoration: none !important;
    padding: 2.5rem;
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

.react-calendar__month-view__days__day--weekend {
    color: #FF0000; /* Optional: to visually distinguish weekends */
}

.gazetted-holiday ,.react-calendar__tile.saturday {
    color:#FFA500; /* Add your desired styles */
}

.restricted-holiday ,.react-calendar__tile.sunday {
  color:  #FF0000; /* Add your desired styles */
}

.MuiListItemText-root span {
    font-weight: 500;
    font-size: 1.3rem;
    /* margin-left: 1rem; */
}
.MuiListItemText-root span:active,
.MuiListItemText-root span:hover {
    color: var(--primary-color);
}
.react-calendar__navigation button {
    font-size: 2.3rem !important;
    color: var(--primary-color);
    font-weight: 700;
}
.react-calendar__month-view__weekdays__weekday {
    color: var(--primary-color);
}
.react-calendar__month-view__days {
    font-weight: 700;
}
.react-calendar__month-view__weekdays__weekday {
    color: var(--primary-color);
}
.react-calendar__month-view__days {
    font-weight: 700;
}
.react-calendar__tile {
    border-radius: 15px;
    text-align: center !important;
  
}
.react-calendar__tile--now {
    background: none !important;
    /* border: 2px solid #2e7d32 !important; */
    color: #2e7d32;
    border-radius: 15px;
}
.react-calendar__tile--active {
    color: #2e7d32 !important;
}

.react-calendar__tile.restricted-holiday {
    color: #FFA500;
    font-weight: 700;
    
       /* border: 2px solid #FFA500 !important; */
}

.react-calendar__tile.gazetted-holiday {
 
    color: #FF0000;
    /* border: 2px solid #FF0000; */
    font-weight: 700;
}



/* .holiday-list .MuiListItemText-multiline p {
    color: #ff0000;
}

.react-calendar__month-view__weekdays__weekday {
    color: var(--primary-color);
}
.react-calendar__month-view__days {
    font-weight: 700;
}

.react-calendar__tile {
    text-align: center !important;
    padding: 1em 0 !important;
    margin: 0.2em 0 !important;
}

.react-calendar__tile.saturday {
    color: #ed6c02;
}

.react-calendar__tile.sunday {
    color: #ed6c02;
}
.react-calendar__tile {
    border-radius: 15px;
}
.react-calendar__tile--now {
    background: none !important;
    border: 2px solid #2e7d32 !important;
    color: #2e7d32;
    border-radius: 15px;
}
.react-calendar__tile--active {
    color: #2e7d32 !important;
}

.react-calendar__tile.restricted-holiday {
    color: #e65100;
    border: 2px solid #e65100 !important;
}

.react-calendar__tile.gazetted-holiday {
 
    color: #ff0000;
    border: 2px solid #ff0000;
    font-weight: 700;
} */
.MuiButtonBase-root.MuiButton-root {
    text-transform: capitalize;
}


@media (min-width: 1580px) {
    .box-about {
        left: 33% !important;
    }
    /* button.react-calendar__tile.react-calendar__month-view__days__day {
        flex: 0 0 13.59% !important;
        margin-right: 5px !important;
    } */
}
/* @media (min-width: 1200px) and (max-width: 1579px) {
    button.react-calendar__tile.react-calendar__month-view__days__day {
        flex: 0 0 13.65% !important;
        margin-right: 5px !important;
    }
} */
@media (min-width: 1024px) and (max-width: 1196px) {
    .Process-section {
        background-image: none;
    }
    /* button.react-calendar__tile.react-calendar__month-view__days__day {
        flex: 0 0 13.49% !important;
        margin-right: 5px !important;
    } */
}
@media (min-width: 912px) and (max-width: 1366px) and (orientation: portrait) {
    .Banner-section {
        height: 25vh !important;
    }

    .page-main-heading {
        font-size: 2.4rem !important;
    }
    .box-about {
        left: 46%;
    }
    /* button.react-calendar__tile.react-calendar__month-view__days__day {
        flex: 0 0 13.49% !important;
        margin-right: 5px !important;
    } */
   

}


@media (min-width: 768px) and (max-width: 992px) {
    .page-main-heading {
        font-size: 2rem !important;
    }
    .schedule-section-call-details .MuiSvgIcon-root {
        width: 0.7em;
        margin-right: 5px;
    }
    .schedule-section-call-details .MuiBox-root {
        margin-right: 3rem;
    }
    .box-about {
        top: 46%;
        transform: rotate(-90deg);
    }
    .Process-section {
        background-image: none;
    }
    .product-name {
        font-size: 12px !important;
    }
    /* button.react-calendar__tile.react-calendar__month-view__days__day {
        flex: 0 0 11.48% !important;
        margin-right: 5px !important;
    } */
    .m-container{
        flex-direction: column-reverse !important;
    }
  
}  

@media (max-width: 767px) {
    .page-main-heading {
        font-size: 1.7rem !important;
    }
    .ql-align-justify img {
        width: 100%;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .scrolltopbutton {
        bottom: 86px !important;
    }

    .drawer-container .MuiPaper-root.MuiPaper-elevation.MuiDrawer-paper {
        position: fixed;
        top: 130px !important;
        z-index: 800 !important;
    }
    h2 > .ql-size-huge {
        font-size: 2.2rem !important;
    }

    .mobile-schedule {
        text-align: center;
    }
    .MuiTypography-root.MuiTypography-subtitle1 {
        padding: 4px;
        max-width: 100%;
        width: 100%;
    }
    .schedule-section-call-details h3 {
        padding-left: 0;
    }
    .product-name {
        font-size: 13px !important;
    }

    .navbar-icon {
        height: 30px;
        margin-right: 0.5rem;
    }

    .Banner-section {
        background-image: none !important;
        /* height: 45vh !important; */
        background-color: var(--secondary-color);
    }

    .banner-content-text {
        color: var(--primary-color);
        font-family: "Raleway", "Roboto", "Poppins", sans-serif;
        line-height: 1.5;
        width: 95%;
    }

    .box-about {
        display: none;
    }
    .page-heading::after {
        left: 43%;
        width: 50px;
    }

    .Services-section {
        margin-left: 20px !important;
        margin-right: 20px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 20px !important;
    }

    .Services-section .MuiGrid-root > .MuiGrid-item {
        padding-top: 20px;
    }

    .about-section {
        padding: 20px !important;
    }

    .about-section .MuiGrid-root.MuiGrid-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .Blog-section .MuiGrid-root.MuiGrid-container {
        margin-left: 0 !important;
    }
    .Blog-section {
        padding: 2rem !important;
    }

    .about-section .MuiGrid-root.MuiGrid-container .MuiGrid-item,
    .Blog-section .MuiGrid-root.MuiGrid-container .MuiGrid-item {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .Blog-section .MuiGrid-root.MuiGrid-container .MuiGrid-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .MuiAccordion-region .MuiSvgIcon-root.MuiSvgIcon-color#fff {
        color: #ffffff;
    }

    .schedule-section {
        flex-direction: column;
    }
    .mcertificate {
        justify-content: center !important;
    }

    .schedule-section-call-details {
        flex-direction: column;
        gap: 20px;
    }
    .schedule-section-call-details h3 {
        border-left: 0;
        margin-bottom: 15px;
    }

    .schedule-section-call-details .MuiTypography-root.MuiTypography-h1 {
        border-left: none;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .schedule-section-call-details svg {
        font-size: 60px;
    }

    .Process-section {
        background-image: none;
    }

    .Process-section .Process-section-item {
        margin-bottom: 0;
    }
    .testimonial {
        padding: 0;
        margin: 0;
    }
    .quote::before {
        font-size: 2em;
        top: -123px;
        right: 0;
    }
    .testimonial-quto {
        padding-top: 10px;
    }
    .slick-prev,
    .slick-next {
        bottom: 0;
    }
    .downloads .MuiTablePagination-actions {
        margin-left: 5px !important;
    }
    .MuiTypography-subtitle1 {
        width: 100% !important;
    }
    .mobile-gallery {
        width: 95%;
    }
    figure.table {
        width: 100%;
        overflow-x: auto;
    }
    p > img {
        max-width: 100%;
    }

    .table-row,
    .table-pagination {
        font-size: 1.2rem !important;
        padding: 5px !important;
        display: flex;
    }
    .service-section-content table th,
    .Service-section table th {
        font-size: 1.2rem !important;
    }
    .react-calendar {
        font-size: 1.6rem !important;
        padding: 1.6rem;
    }
    .react-calendar__navigation button {
        font-size: 1.5rem !important;
        min-width: 20px;
    }
    /* button.react-calendar__tile.react-calendar__month-view__days__day {
        flex: 0 0 12.68% !important;
        margin-right: 5px !important;
    } */
    .MuiAccordionSummary-root.Mui-expanded {
        min-height: 64px;
        box-shadow: inherit;
        background-color: var(--third-color);
    }
    .m-container{
        flex-direction: column-reverse !important;
    }
    .MuiTableCell-root{
       padding:6px 12px !important;
    }
}

@media (max-width: 414px){
    button.react-calendar__tile.react-calendar__month-view__days__day {
        flex: 0 0 12.39% !important;
        margin-right: 5px !important;
    }
}

.my-masonry-grid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    margin-bottom: 30px;
}
